TODO: include here the specific requirements that we use in our virtual 
environment such as python 3.8, numpy, scipy, etc. 

Packages required:

Numpy
Scipy
emcee
matplotlib
corner
Vpython??
pandas
tqdm
astroquery
spiceypy
